.h3{
  background-color:#333;
  text-align: center;
  color: white !important;
  height: 50px;
  margin: 20px;

}


.box1 h2{
  float: left;
}


.box1 button{
  float: right;
}


.container{
  margin-top: 50px;
}


.h6{
  text-align: center;
  color: red !important;
  font-size: 2rem !important;
}